@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;
    }
    .botao{
        margin-top: 5px;
        width: 200px;
        height: 40px;
    }
    .filme-principal{
         background: linear-gradient(rgba(0, 0, 0, .50), rgba(0,0,0,.50)100%) , url(/img/capa-house4.jpg);
    }
    footer{
        display: flex;
        /*align-items: center;*/
        flex-direction: column;
    }
    footer a {
        padding: 5px;
    }
}

@media screen and (min-width:1372px){
    .descricao{
        width: 50%;
    }

    .filme-principal{
        background: linear-gradient(rgba(0, 0, 0, .50), rgba(0,0,0,.50)100%) , url(/img/capa-house_2.jpg);
    }

}

